# Project:
If we have a list of X addresses, can we automate or run some type of batch process and use that street address and find the closest weather stations and pull their historical data? 

# Approach:
1. Create a list of 10 addresses random addresses in a spreadsheet
2. Load them into python 
3. Create a function which:
    - Translates their position into a lat/lon position
    - Put lat/lon position into api call
    - Return historical weather station information
    - Saves the file as a csv, upload it to AWS
7. Write a for loop to go through each address and create a new list with address <> lat lon <> weather station data
8. Test international addresses

## Step 1:  list of 10 test addresses

Here's a [link to a google sheet with test addresses]( https://docs.google.com/spreadsheets/d/1LCQnJfpAK8PLh_kTupqtCbH0kD8YZ711o4Dhwb0XT0o/edit?usp=sharing), which can be saved as a csv for testing (change file name below, if needed). I created this list from random US landmarks.

|	Address (google maps)	|	Landmark	|
|	 :-	|	: -	|
|	415 Mission St, San Francisco, CA 94105	|	Salesforce Tower	|
|	20 W 34th St, New York, NY 10001	|	Empire State Building	|
|	2920 Zoo Dr, San Diego, CA 92101	|	San Diego Zoo	|
|	100 Legends Way, Boston, MA 02114	|	TD Garden	|
|	2000 Brush St, Detroit, MI 48226	|	Ford Field	|
|	1600 Pennsylvania Avenue NW, Washington, DC 20500	|	White House	|
|	Florida 32899	|	Kennedy Space Center	|
|	300 Alamo Plaza, San Antonio, TX 78205	|	The Alamo	|
|	3600 S Las Vegas Blvd, Las Vegas, NV 89109	|	The Bellagio	|
|	1709 Broderick St, San Francisco, CA 94115	|	Full House' House	|

## Step 2: Load addresses into python
Let's import the csv and display the data to make sure it matches our expectations, we'll be using Pandas DataFrames for this.

In [1]:
# Import the csv and make sure it matches what we expect
import pandas as pd
Address_Info = pd.read_csv(r'TestAddresses.csv')
display(Address_Info)

# Looks good - the csv matches what we have in our google doc
# We could just take the addresses, but it'll be nice to append things to our old location csv
# addresses_only_df = pd.DataFrame(df, columns = ['Address (google maps)'])

                               Address (google maps)               Landmark
0            415 Mission St, San Francisco, CA 94105       Salesforce Tower
1                   20 W 34th St, New York, NY 10001  Empire State Building
2                   2920 Zoo Dr, San Diego, CA 92101          San Diego Zoo
3                  100 Legends Way, Boston, MA 02114              TD Garden
4                   2000 Brush St, Detroit, MI 48226             Ford Field
5  1600 Pennsylvania Avenue NW, Washington, DC 20500            White House
6                                      Florida 32899   Kennedy Space Center
7             300 Alamo Plaza, San Antonio, TX 78205              The Alamo
8         3600 S Las Vegas Blvd, Las Vegas, NV 89109           The Bellagio
9         1709 Broderick St, San Francisco, CA 94115      Full House' House

## Step 3: Create a function which:
1. Translates their position into a lat/lon position
2. Puts lat/lon position into api call
3. Returns weather station information

#### 3.1 - Address to lat/lon (geocoding)
We now have the addresses from our csv in a dataframe, so let's now try to append lat/lon to this. For this step we will need two packages: geopandas and geopy, both of which you can pip install from a seperate terminal window.  

`pip install geopandas
pip install geopy `

In [ ]:
import geopandas as gpd
import geopy

# We are loading in the geocoder we're going to use. Geopy is just an interface for ...
# the geocoder, which is available from a variety of service. In this case we use Nominatim.
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="AdressToLat") 

# The free Nominatim service we're using has request limits, so the rate limiter keeps ...
# us below this limit. In this case we set it to 1 second per request.
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds = 1)

# We now add the geopy location objects to the dataframe
Address_Info['geo_location'] = Address_Info['Address (google maps)'].apply(geocode)

def CSV_to_latlon(file_path,header_name):
    Address_Info = pd.read_csv(file_path)
    geolocator = Nominatim(user_agent="AdressToLat") 
    geocode = RateLimiter(geolocator.geocode, min_delay_seconds = 1)
    Address_Info['geo_location'] = Address_Info[header_name].apply(geocode)
    return(Address_Info)

Address_Info.head()

We now have the geopy `location` objects as a column in our dataframe. From this, we can extract the latitude and longitude using `location.latitude` and `location.longitude`. We can also get the altitude if we wanted, but not much else.

In [3]:
print('Address for the first index =', Address_Info['geo_location'].loc[0].address)
print('Latitude for the first index =', (Address_Info['geo_location'].loc[0].latitude , Address_Info['geo_location'].loc[0].longitude))

Address for the first index = Salesforce Tower, 415, Mission Street, Transbay, San Francisco, California, 94105, United States
Latitude for the first index = (37.78977435, -122.3969321220982)

#### 3.2 Puts lat/lon into API call
The api call for Benchmark Labs is the `ghcn collection`: [Global Historical Climatology Network daily (GHCNd)](https://www.ncei.noaa.gov/products/land-based-station/global-historical-climatology-network-daily).

The correct call to access this data from Benchmark Labs API is

`{{protocol}}://{{host}}:{{port}}/api/v1/{{accountUid}}/ghcnd/data` 

or 

`https://api-dev.benchmarklabs.com:443/api/v1/#Account Number#/ghcnd/data`

You must be logged in as `super-admin` to access this call

The below code should log you in as super-admin and save the bearer token to be used in the second block of code as your auth code. 

##### Log into Benchmark API

In [4]:
import requests
import json

url = "https://api-dev.benchmarklabs.com:443/api/v1/2a6997a7-a9a2-4b2e-b87a-656d6e85cbaf/authentication/login"

payload = json.dumps({
  "username": "superadmin",
  "password": "VrYAK#2Kfe",
  "deviceId": "deviceId"
})
headers = {
  'Content-Type': 'application/json',
  'Cookie': 'JSESSIONID=7DD8740820BC48680E3175B686BD2589'
}

#Convert response file into text and then into a json format
response_login = requests.request("POST", url, headers=headers, data=payload)
response_login = json.loads(response_login.text)
print('The response from the login call looks like this (type = ' + str(type(response_login)) + '): ' + '\n \n' + str(response_login))

The response from the login call looks like this (type = <class 'dict'>):

{'token': 'eyJhbGciOiJIUzUxMiJ9.eyJhY2NvdW50VWlkIjoiMmE2OTk3YTctYTlhMi00YjJlLWI4N2EtNjU2ZDZlODVjYmFmIiwidHlwZSI6IlVzZXIiLCJkZXZpY2VJZCI6ImRldmljZUlkIiwibmFtZSI6IkRlZmF1bHQgU3VwZXIgQWRtaW5pc3RyYXRvciIsInN1YiI6ImU2OWFmMjYxLWQyNzQtNDI4ZS1iZjBiLTZhODhiNTk4NzdmMSIsImlhdCI6MTY1MDY2NDE1MywiZ3JvdXBzIjoiU3VwZXIgQWRtaW5pc3RyYXRvcnMiLCJleHAiOjE2NTA2NjUzNTMsInJhdCI6MTY1MDY2NTA1M30.KxtSOsr0QoEVhmokBLtohjdOqo7-X13v6DhfocrpzHdQE6bLACxyUS5A8UuOuT9nBpn21BQmLKj39JOeQqk0tA'}

##### Call from the GHCNd database via Benchmark API
This block is largely copied from Postman. You'll need to included the bearer token from the previous call (above).

In [5]:
import requests
import json

################### I'd like to keep these two seperate, but the auth token keeps changing - I wonder if I'm logging someone out?

url = "https://api-dev.benchmarklabs.com:443/api/v1/2a6997a7-a9a2-4b2e-b87a-656d6e85cbaf/authentication/login"

payload = json.dumps({
  "username": "superadmin",
  "password": "VrYAK#2Kfe",
  "deviceId": "deviceId"
})
headers = {
  'Content-Type': 'application/json',
  'Cookie': 'JSESSIONID=7DD8740820BC48680E3175B686BD2589'
}

#Convert response file into text and then into a json format
response_login = requests.request("POST", url, headers=headers, data=payload)
response_login = json.loads(response_login.text)

#################### Call for the data

url = "https://api-dev.benchmarklabs.com:443/api/v1/2a6997a7-a9a2-4b2e-b87a-656d6e85cbaf/ghcnd/data"

payload = json.dumps({
  "latitude": 32.7157, #The latitude you're interested in
  "longitude": -117.1611, #The longitude you're interested in
  "radius": 11, #How far of a radius to draw when searching for other stations
  "stations": 5, #Take the closest N stations
  "dateFrom": 20210101, #Start date YYYY/MM/DD
  "dateTo": 20210105, #End date YYYY/MM/DD
  "elements": [
    "TMIN",
    "TMAX",
    "SNWD",
    "SNOW",
    "PRCP"
  ], #What are the total options here?
  "format": "csv"
})
headers = {
  'Authorization': 'Bearer ' + str(response_login['token']),
  'Content-Type': 'application/json',
  'Cookie': 'JSESSIONID=7DD8740820BC48680E3175B686BD2589'
}

response_ghcnd = requests.request("POST", url, headers=headers, data=payload, timeout=300)
response_ghcnd

Now that we have the data, we can display it in a table - we should have ~46 rows for the 5 days and 5 stations

In [6]:
import io
import csv

string = response_ghcnd.text
Output = pd.read_csv(io.StringIO(string), sep=',', header=[0], quoting=csv.QUOTE_ALL)
pd.set_option('display.max_rows', 10)
display(Output)

,station,latitude,longitude,elevation,date,element,value
0,SAN DIEGO 3.5NE,32.7465,-117.1098,104.9,2021-01-01,PRCP,0.0
1,SAN DIEGO 3.5NE,32.7465,-117.1098,104.9,2021-01-01,SNOW,0.0
2,SAN DIEGO 3.5NE,32.7465,-117.1098,104.9,2021-01-02,PRCP,0.0
3,SAN DIEGO 3.5NE,32.7465,-117.1098,104.9,2021-01-02,SNOW,0.0
4,SAN DIEGO 3.5NE,32.7465,-117.1098,104.9,2021-01-03,PRCP,0.0
...,...,...,...,...,...,...,...
41,NORTH ISLAND NAS,32.7000,-117.2000,7.9,2021-01-04,TMAX,17.2
42,NORTH ISLAND NAS,32.7000,-117.2000,7.9,2021-01-04,TMIN,8.3
43,NORTH ISLAND NAS,32.7000,-117.2000,7.9,2021-01-05,PRCP,0.0
44,NORTH ISLAND NAS,32.7000,-117.2000,7.9,2021-01-05,TMAX,15.6
45,NORTH ISLAND NAS,32.7000,-117.2000,7.9,2021-01-05,TMIN,8.9

#### 3.3 Make Functions and test on CSV data
We can now turn each of these steps into a function and test with the first lat/lon response from our address list, returning weather observations

In [ ]:
def Login(username,password):
    '''
    This logs you into the API and returns the auth key
    '''
    
    url = "https://api-dev.benchmarklabs.com:443/api/v1/2a6997a7-a9a2-4b2e-b87a-656d6e85cbaf/authentication/login"

    payload = json.dumps({
      "username": username,
      "password": password,
      "deviceId": "deviceId"
    })
    headers = {
      'Content-Type': 'application/json',
      'Cookie': 'JSESSIONID=7DD8740820BC48680E3175B686BD2589' #Does the cookie ever need to change?
    }

    #Convert response file into text and then into a json format
    response_login = requests.request("POST", url, headers=headers, data=payload)
    response_login = json.loads(response_login.text)
    Auth_Key = str(response_login['token']); #This pulls just the bearer token
    return(Auth_Key)

Add in dates for the default calls - get the date for today and for 1 year prior.

In [ ]:
#This date info is just used for defaults in the Get_Data function
from datetime import date, timedelta, datetime
today = date.today() 
end_date_def = int(today.strftime("%Y%m%d")) #Set the end date for search to today
before = today - timedelta(days=365*1)
start_date_def = int(before.strftime("%Y%m%d")) #Set the search to begin 1 year ago

Create function for the data call

In [ ]:
def Get_Data(Auth_Key, lat, lon, radius=10, stations=1, start_date=start_date_def, end_date=end_date_def, elem = ["TMIN","TMAX","PRCP"]):
    '''
    This returns the response from the API for any given radius, # of stations, date range, and lat/lon
    The defaults are a 10 mile radius with 1 station for 1 the previous year. I'll hope to add elements
    as an option as well. 
    '''
    url = "https://api-dev.benchmarklabs.com:443/api/v1/2a6997a7-a9a2-4b2e-b87a-656d6e85cbaf/ghcnd/data"

    payload = json.dumps({
      "latitude": lat, #The latitude you're interested in
      "longitude": lon, #The longitude you're interested in
      "radius": radius, #How far of a radius to draw when searching for other stations
      "stations": stations, #Take the closest N stations
      "dateFrom": start_date, #Start date YYYY/MM/DD
      "dateTo": end_date, #End date YYYY/MM/DD
      "elements": elem, #https://docs.opendata.aws/noaa-ghcn-pds/readme.html
      "format": "csv"
    })
    headers = {
      'Authorization': 'Bearer ' + Auth_Key,
      'Content-Type': 'application/json',
      'Cookie': 'JSESSIONID=7DD8740820BC48680E3175B686BD2589'
    }

    response_ghcnd = requests.request("POST", url, headers=headers, data=payload, timeout=300)
    return(response_ghcnd)

Create function for translating the csv response to a pandas dataframe

In [7]:
def CSV_to_DF(Response_Data):
    '''
    translating the csv response to a pandas dataframe
    '''
    string = Response_Data.text #Take the text from the csv resonse
    Output = pd.read_csv(io.StringIO(string), sep=',', header=[0], quoting=csv.QUOTE_ALL) #Seperate the text file, using StringIO to make it a file
    pd.set_option('display.max_rows', 10) #This just makes it pretty
    display(Output)
    return(Output)

In [8]:
test_key = Login("superadmin","VrYAK#2Kfe") #Log in as super admin
test_output = Get_Data(test_key,Address_Info['geo_location'].loc[0].latitude,Address_Info['geo_location'].loc[0].longitude, stations = 3) #Get data from first address
output = CSV_to_DF(test_output) #Save the data as a dataframe and display the data

,station,latitude,longitude,elevation,date,element,value
0,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-22,PRCP,0.0
1,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-23,PRCP,0.0
2,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-24,PRCP,1.8
3,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-25,PRCP,4.1
4,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-26,PRCP,0.0
...,...,...,...,...,...,...,...
1763,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-14,TMAX,13.9
1764,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-14,TMIN,9.4
1765,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-15,PRCP,0.0
1766,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-15,TMAX,13.3
1767,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-15,TMIN,7.2

In [ ]:
# Test plot to see that the data makes sense 
import matplotlib.pyplot as plt
x=pd.to_datetime(output[output["element"]=='TMAX']['date'])   
y=output[output["element"]=='TMAX']['value']
plt.plot(x,y)
plt.show()
plt.xlabel('Date')
plt.ylabel('Max Temperature Celcius') 
plt.title('Temperatures over Time')

## Step 4. Write a for loop to go through each address and pull the weather data
- Export as CSV
- Upload to shared drive
- Create a more useable python dataframe 

Our current variables include:
 - Address_Info = the dataframe from our CSV with: [address, landmark name, geocode object with lat/lon]
 - test_output = the product of Get_Data( ), which is a CSV of station [latitude, longitude,	elevation,	date,	element (weather obs type),	value (obs value)]
 - output = the product of CSV_to_DF( ), which is a dataframe with the CSV data
 
 https://docs.opendata.aws/noaa-ghcn-pds/readme.html

### Test uploading to AWS
Let's test if we can upload a csv file to AWS buckets. First, you need to generate or download credentials for your own account.

In [10]:
#Files can be exported with pandas_dataframe_name.to_csv
File_name = '/Users/mborrus/Benchmark/Jupyter/Output_CSVs/weather_data_test.csv'
output.to_csv(File_name, index=None)

#Files can be uploaded to the AWS bucket I created: address-weather-csvs
import boto3
from botocore.exceptions import NoCredentialsError

#These can be downloaded from AWS under aws.amazon.com/iam/home#/security_credentials
#Import them from a csv so they're only stored locally and not in the file
credentials = pd.read_csv('/Users/mborrus/Benchmark/AWS/Marshall_accessKeys.csv');
ACCESS_KEY = str(credentials['Access key ID'][0])
SECRET_KEY = str(credentials['Secret access key'][0])

#Function to upload a file to a specific bucket
def upload_to_aws(local_file, bucket, s3_file):
    s3 = boto3.client('s3', aws_access_key_id=ACCESS_KEY,
                      aws_secret_access_key=SECRET_KEY)

    try:
        s3.upload_file(local_file, bucket, s3_file)
        print("Upload Successful")
        return True
    except FileNotFoundError:
        print("The file was not found")
        return False
    except NoCredentialsError:
        print("Credentials not available")
        return False

#Test the upload to AWS
uploaded = upload_to_aws(File_name, 'address-weather-csvs', 'weather_data_test.csv')

Upload Successful

## Wrap it all together:
1. Read CSV and generate lat/lon points
2. Log in to Benchmark API
3. Generate the weather data for the lat/lon
4. Convert it to a csv file
5. Upload the file to AWS bucket

In [11]:
Address_Info = CSV_to_latlon('TestAddresses.csv','Address (google maps)')
for addy in Address_Info.index:
    test_key = Login("superadmin","VrYAK#2Kfe") #Log in as super admin
    test_output = Get_Data(test_key,Address_Info['geo_location'].loc[addy].latitude,Address_Info['geo_location'].loc[addy].longitude, stations = 3) #Get data from first address
    output = CSV_to_DF(test_output); #Save the data as a dataframe and display the data
    Filename = str('/Users/mborrus/Benchmark/Jupyter/Output_CSVs/Dom/'+ Address_Info['Landmark'][addy] +'.csv')
    output.to_csv(Filename, index=None)
    print(addy)
    print(Address_Info['Landmark'][addy])
    print('Latitude for the index =', (Address_Info['geo_location'].loc[addy].latitude , Address_Info['geo_location'].loc[addy].longitude))
    uploaded = upload_to_aws(Filename, 'address-weather-csvs', str('Domestic_Test/'+Address_Info['Landmark'][addy]+'.csv'))

,station,latitude,longitude,elevation,date,element,value
0,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-22,PRCP,0.0
1,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-23,PRCP,0.0
2,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-24,PRCP,1.8
3,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-25,PRCP,4.1
4,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-26,PRCP,0.0
...,...,...,...,...,...,...,...
1763,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-14,TMAX,13.9
1764,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-14,TMIN,9.4
1765,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-15,PRCP,0.0
1766,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-15,TMAX,13.3
1767,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-15,TMIN,7.2

0
Salesforce Tower
Latitude for the index = (37.78977435, -122.3969321220982)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,BROOKLYN 3.1 NW,40.6846,-73.9867,5.5,2021-04-22,PRCP,1.0
1,BROOKLYN 3.1 NW,40.6846,-73.9867,5.5,2021-04-23,PRCP,0.0
2,BROOKLYN 3.1 NW,40.6846,-73.9867,5.5,2021-04-24,PRCP,0.0
3,BROOKLYN 3.1 NW,40.6846,-73.9867,5.5,2021-04-25,PRCP,12.4
4,BROOKLYN 3.1 NW,40.6846,-73.9867,5.5,2021-04-26,PRCP,0.5
...,...,...,...,...,...,...,...
1596,NEW YORK CNTRL PK TWR,40.7789,-73.9692,39.6,2022-04-19,TMAX,10.0
1597,NEW YORK CNTRL PK TWR,40.7789,-73.9692,39.6,2022-04-19,TMIN,3.9
1598,NEW YORK CNTRL PK TWR,40.7789,-73.9692,39.6,2022-04-20,PRCP,0.0
1599,NEW YORK CNTRL PK TWR,40.7789,-73.9692,39.6,2022-04-20,TMAX,15.6
1600,NEW YORK CNTRL PK TWR,40.7789,-73.9692,39.6,2022-04-20,TMIN,5.6

1
Empire State Building
Latitude for the index = (40.7486538125, -73.98530431249999)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,SAN DIEGO 3.5NE,32.7465,-117.1098,104.9,2021-04-22,PRCP,0.0
1,SAN DIEGO 3.5NE,32.7465,-117.1098,104.9,2021-04-23,PRCP,0.0
2,SAN DIEGO 3.5NE,32.7465,-117.1098,104.9,2021-04-24,PRCP,0.0
3,SAN DIEGO 3.5NE,32.7465,-117.1098,104.9,2021-04-25,PRCP,0.0
4,SAN DIEGO 3.5NE,32.7465,-117.1098,104.9,2021-04-26,PRCP,0.0
...,...,...,...,...,...,...,...
1765,SAN DIEGO LINDBERGH FLD,32.7336,-117.1831,4.6,2022-04-19,TMAX,20.6
1766,SAN DIEGO LINDBERGH FLD,32.7336,-117.1831,4.6,2022-04-19,TMIN,13.3
1767,SAN DIEGO LINDBERGH FLD,32.7336,-117.1831,4.6,2022-04-20,PRCP,0.0
1768,SAN DIEGO LINDBERGH FLD,32.7336,-117.1831,4.6,2022-04-20,TMAX,19.4
1769,SAN DIEGO LINDBERGH FLD,32.7336,-117.1831,4.6,2022-04-20,TMIN,13.3

2
San Diego Zoo
Latitude for the index = (32.73788656954161, -117.14883175408295)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,SOMERVILLE 0.5 SSE,42.3829,-71.0994,6.1,2021-04-22,PRCP,8.1
1,SOMERVILLE 0.5 SSE,42.3829,-71.0994,6.1,2021-04-23,PRCP,0.0
2,SOMERVILLE 0.5 SSE,42.3829,-71.0994,6.1,2021-04-24,PRCP,0.0
3,SOMERVILLE 0.5 SSE,42.3829,-71.0994,6.1,2021-04-25,PRCP,0.0
4,SOMERVILLE 0.5 SSE,42.3829,-71.0994,6.1,2021-04-26,PRCP,2.3
...,...,...,...,...,...,...,...
328,BOSTON 0.5 WSW,42.3570,-71.0671,13.1,2021-07-10,PRCP,42.9
329,BOSTON 0.5 WSW,42.3570,-71.0671,13.1,2021-09-29,PRCP,18.0
330,BOSTON 0.5 WSW,42.3570,-71.0671,13.1,2021-11-01,PRCP,0.0
331,BOSTON 0.5 WSW,42.3570,-71.0671,13.1,2021-12-17,PRCP,0.0
332,BOSTON 0.5 WSW,42.3570,-71.0671,13.1,2021-12-31,PRCP,1.0

3
TD Garden
Latitude for the index = (42.3662986, -71.06216073511236)
Upload Successful

            station  latitude  longitude  elevation        date element  value
0    WINDSOR 1.7 SE   42.2845   -83.0346      186.2  2021-04-22    PRCP    0.0
1    WINDSOR 1.7 SE   42.2845   -83.0346      186.2  2021-04-23    PRCP    0.0
2    WINDSOR 1.7 SE   42.2845   -83.0346      186.2  2021-04-24    PRCP    0.0
3    WINDSOR 1.7 SE   42.2845   -83.0346      186.2  2021-04-25    PRCP    1.3
4    WINDSOR 1.7 SE   42.2845   -83.0346      186.2  2021-04-26    PRCP    0.0
..              ...       ...        ...        ...         ...     ...    ...
992   DETROIT 4.4 S   42.3200   -83.0900      180.1  2022-04-17    PRCP    0.5
993   DETROIT 4.4 S   42.3200   -83.0900      180.1  2022-04-18    PRCP    0.0
994   DETROIT 4.4 S   42.3200   -83.0900      180.1  2022-04-19    PRCP    8.6
995   DETROIT 4.4 S   42.3200   -83.0900      180.1  2022-04-20    PRCP    0.3
996   DETROIT 4.4 S   42.3200   -83.0900      180.1  2022-04-21    PRCP    2.0

[997 rows x 7 columns]

4
Ford Field
Latitude for the index = (42.338967, -83.046637)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,WASHINGTON 2.0 SSW,38.8766,-77.0224,3.0,2021-04-26,PRCP,0.0
1,WASHINGTON 2.0 SSW,38.8766,-77.0224,3.0,2021-04-27,PRCP,0.0
2,WASHINGTON 2.0 SSW,38.8766,-77.0224,3.0,2021-04-28,PRCP,0.0
3,WASHINGTON 2.0 SSW,38.8766,-77.0224,3.0,2021-04-29,PRCP,0.0
4,WASHINGTON 2.0 SSW,38.8766,-77.0224,3.0,2021-04-30,PRCP,0.5
...,...,...,...,...,...,...,...
1336,WASHINGTON REAGAN AP,38.8483,-77.0342,3.0,2022-04-19,TMAX,12.8
1337,WASHINGTON REAGAN AP,38.8483,-77.0342,3.0,2022-04-19,TMIN,4.4
1338,WASHINGTON REAGAN AP,38.8483,-77.0342,3.0,2022-04-20,PRCP,0.0
1339,WASHINGTON REAGAN AP,38.8483,-77.0342,3.0,2022-04-20,TMAX,16.7
1340,WASHINGTON REAGAN AP,38.8483,-77.0342,3.0,2022-04-20,TMIN,5.0

5
White House
Latitude for the index = (38.897699700000004, -77.03655315)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,MERRIT ISLAND 9.1 N,28.4793,-80.7093,1.2,2021-04-22,PRCP,0.0
1,MERRIT ISLAND 9.1 N,28.4793,-80.7093,1.2,2021-04-23,PRCP,0.0
2,MERRIT ISLAND 9.1 N,28.4793,-80.7093,1.2,2021-04-24,PRCP,0.0
3,MERRIT ISLAND 9.1 N,28.4793,-80.7093,1.2,2021-04-25,PRCP,0.0
4,MERRIT ISLAND 9.1 N,28.4793,-80.7093,1.2,2021-04-28,PRCP,0.0
...,...,...,...,...,...,...,...
723,SHARPES 3.8 ENE,28.4493,-80.6977,0.6,2021-10-29,PRCP,19.1
724,SHARPES 3.8 ENE,28.4493,-80.6977,0.6,2021-10-30,PRCP,2.3
725,SHARPES 3.8 ENE,28.4493,-80.6977,0.6,2021-11-12,PRCP,122.7
726,SHARPES 3.8 ENE,28.4493,-80.6977,0.6,2021-11-14,PRCP,0.5
727,SHARPES 3.8 ENE,28.4493,-80.6977,0.6,2021-11-22,PRCP,0.5

6
Kennedy Space Center
Latitude for the index = (28.52423915, -80.6475238)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,SAN ANTONIO 1.6 W,29.4560,-98.5320,215.2,2021-04-22,PRCP,0.0
1,SAN ANTONIO 1.6 W,29.4560,-98.5320,215.2,2021-04-23,PRCP,0.8
2,SAN ANTONIO 1.6 W,29.4560,-98.5320,215.2,2021-04-24,PRCP,21.6
3,SAN ANTONIO 1.6 W,29.4560,-98.5320,215.2,2021-04-25,PRCP,0.0
4,SAN ANTONIO 1.6 W,29.4560,-98.5320,215.2,2021-04-26,PRCP,0.0
...,...,...,...,...,...,...,...
736,SAN ANTONIO INCARNATE WORD,29.4703,-98.4728,213.4,2022-01-20,TMAX,24.4
737,SAN ANTONIO INCARNATE WORD,29.4703,-98.4728,213.4,2022-01-20,TMIN,3.9
738,SAN ANTONIO INCARNATE WORD,29.4703,-98.4728,213.4,2022-01-21,PRCP,0.0
739,SAN ANTONIO INCARNATE WORD,29.4703,-98.4728,213.4,2022-01-21,TMAX,3.9
740,SAN ANTONIO INCARNATE WORD,29.4703,-98.4728,213.4,2022-01-21,TMIN,0.6

7
The Alamo
Latitude for the index = (29.42535985, -98.486264744191)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,PARADISE 3.9 WSW,36.0580,-115.1969,709.0,2021-04-22,PRCP,0.0
1,PARADISE 3.9 WSW,36.0580,-115.1969,709.0,2021-04-23,PRCP,0.0
2,PARADISE 3.9 WSW,36.0580,-115.1969,709.0,2021-04-24,PRCP,0.0
3,PARADISE 3.9 WSW,36.0580,-115.1969,709.0,2021-04-25,PRCP,0.0
4,PARADISE 3.9 WSW,36.0580,-115.1969,709.0,2021-04-26,PRCP,0.0
...,...,...,...,...,...,...,...
1772,LAS VEGAS MCCARRAN AP,36.0719,-115.1633,649.5,2022-04-19,PRCP,0.0
1773,LAS VEGAS MCCARRAN AP,36.0719,-115.1633,649.5,2022-04-19,TMAX,30.6
1774,LAS VEGAS MCCARRAN AP,36.0719,-115.1633,649.5,2022-04-20,PRCP,0.0
1775,LAS VEGAS MCCARRAN AP,36.0719,-115.1633,649.5,2022-04-20,TMAX,28.9
1776,LAS VEGAS MCCARRAN AP,36.0719,-115.1633,649.5,2022-04-20,TMIN,16.1

8
The Bellagio
Latitude for the index = (36.1143043, -115.1734322)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-22,PRCP,0.0
1,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-23,PRCP,0.0
2,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-24,PRCP,1.8
3,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-25,PRCP,4.1
4,SAN FRANCISCO 1.1 SW,37.7650,-122.4348,59.1,2021-04-26,PRCP,0.0
...,...,...,...,...,...,...,...
1763,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-14,TMAX,13.9
1764,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-14,TMIN,9.4
1765,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-15,PRCP,0.0
1766,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-15,TMAX,13.3
1767,SAN FRANCISCO DWTN,37.7706,-122.4269,45.7,2022-04-15,TMIN,7.2

9
Full House' House
Latitude for the index = (37.786133163265305, -122.44186451020407)
Upload Successful

## Get it to work in Spain
Load the international addresses. Note that, as taken from google maps, some streets and avenues are abbreviated, and I include a few lines to parse this - but it's certainly not exhaustive (and potentially a topic covered online).

In [81]:
Address_Info = CSV_to_latlon('TestAddresses_International.csv','Address (google maps)')
#This is a parser for abbreviated street names
Address_Info['zipcode'] = Address_Info['Address (google maps)'].str.extract(r'(\d{5}\-?\d{0,4})')
Address_Info['country'] = Address_Info['Address (google maps)'].str.rpartition(" ")[2]
for addy in Address_Info.index:    
    address = Address_Info['Address (google maps)'][addy]
    if 'Av.' in address:
        address = address.replace('Av.', 'Avenida')
    if 'Pl.' in address:
        address = address.replace('Pl.', 'Plaza')
    if 'C.' in address:
        address = address.replace('C.', 'Calle')
    Address_Info['Address (google maps)'][addy] = address
    Address_Info['geo_location'][addy]=geolocator.geocode(address)
    if Address_Info['geo_location'][addy] == None:
        Address_Info['geo_location'][addy]=geolocator.geocode(str(Address_Info['zipcode'][addy]+', '+Address_Info['country'][addy]))
        
display(Address_Info)

,Address (google maps),Landmark,geo_location,zipcode,country
0,"Avenida de Concha Espina, 1, 28036 Madrid, Spain",Real Madrid Stadium,"(Zen Market, 1, Avenida de Concha Espina, Hisp...",28036,Spain
1,"Avenida Rafael Alberti, 8, 28038 Madrid, Spain",Supermarket in Madrid,"(Avenida de Rafael Alberti, Palomeras Sureste,...",28038,Spain
2,"Plaza de Pilatos, 1, 41003 Sevilla, Spain",Casa de Pilatos,"(Casa de Pilatos, 1, Plaza de Pilatos, San Bar...",41003,Spain
3,"Calle Dr. Pedro de Castro, 7, 41004 Sevilla, S...",Coffee shop in Seville,"(Calle Doctor Pedro de Castro, Huerta de la Sa...",41004,Spain
4,"Plaça de la Ciutat de Bruges, s/n, 46001 Valèn...",The Central Market of Valencia,"(Plaça de la Ciutat de Bruges, Ciutat Vella, C...",46001,Spain
5,"Carrer de la Mare de Déu de la Pau, 25, 46900 ...",Small Building in Valencia,"(25, Carrer de la Mare de Déu de la Pau, Torre...",46900,Spain
6,"Plaza los Sitios, 6, 50001 Zaragoza, Spain",Zaragoza Museum,(Museo de Zaragoza - Antigüedad y Bellas Artes...,50001,Spain
7,"Calle Lasierra Purroy, 50007 Zaragoza, Spain",Small Building in Zaragoza,"(Calle de Lasierra Purroy, Torrero, Zaragoza, ...",50007,Spain
8,"Abandoibarra Etorb., 2, 48009 Bilbo, Bizkaia, ...",Guggenheim Museum Bilbao,"(Bar Guggenheim Bilbao, 2, Avenida Abandoibarr...",48009,Spain
9,"Barrondo Auzoa, 5, 48480 Zaratamo, Bizkaia, Spain",Small rural house outside Bilbao,"(Arrigorriaga, Bizkaia, Euskadi, 48480, España...",48480,Spain

In [82]:
for addy in Address_Info.index[0:10]:
    test_key = Login("superadmin","VrYAK#2Kfe") #Log in as super admin
    test_output = Get_Data(test_key,Address_Info['geo_location'].loc[addy].latitude,Address_Info['geo_location'].loc[addy].longitude, stations = 3, radius = 25) #Get data from first address
    output = CSV_to_DF(test_output); #Save the data as a dataframe and display the data
    Filename = str('/Users/mborrus/Benchmark/Jupyter/Output_CSVs/Int/'+ Address_Info['Landmark'][addy] +'.csv')
    output.to_csv(Filename, index=None)
    print(addy)
    print(Address_Info['Landmark'][addy])
    print('Latitude for the index =', (Address_Info['geo_location'].loc[addy].latitude , Address_Info['geo_location'].loc[addy].longitude))
    uploaded = upload_to_aws(Filename, 'address-weather-csvs', str('Spain_Test/'+Address_Info['Landmark'][addy]+'.csv'))

,station,latitude,longitude,elevation,date,element,value
0,MADRID - RETIRO,40.4117,-3.6781,667.0,2021-04-22,PRCP,1.6
1,MADRID - RETIRO,40.4117,-3.6781,667.0,2021-04-22,TMAX,15.8
2,MADRID - RETIRO,40.4117,-3.6781,667.0,2021-04-22,TMIN,9.5
3,MADRID - RETIRO,40.4117,-3.6781,667.0,2021-04-23,PRCP,0.0
4,MADRID - RETIRO,40.4117,-3.6781,667.0,2021-04-23,TMAX,16.6
...,...,...,...,...,...,...,...
3034,MADRID/CUATROVIENTOS,40.3778,-3.7892,687.0,2022-04-14,TMIN,9.2
3035,MADRID/CUATROVIENTOS,40.3778,-3.7892,687.0,2022-04-15,PRCP,0.0
3036,MADRID/CUATROVIENTOS,40.3778,-3.7892,687.0,2022-04-15,TMAX,24.2
3037,MADRID/CUATROVIENTOS,40.3778,-3.7892,687.0,2022-04-16,PRCP,0.0
3038,MADRID/CUATROVIENTOS,40.3778,-3.7892,687.0,2022-04-16,TMAX,26.5

0
Real Madrid Stadium
Latitude for the index = (40.4522186, -3.6889077)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,MADRID - RETIRO,40.4117,-3.6781,667.0,2021-04-22,PRCP,1.6
1,MADRID - RETIRO,40.4117,-3.6781,667.0,2021-04-22,TMAX,15.8
2,MADRID - RETIRO,40.4117,-3.6781,667.0,2021-04-22,TMIN,9.5
3,MADRID - RETIRO,40.4117,-3.6781,667.0,2021-04-23,PRCP,0.0
4,MADRID - RETIRO,40.4117,-3.6781,667.0,2021-04-23,TMAX,16.6
...,...,...,...,...,...,...,...
3032,MADRID/GETAFE,40.3000,-3.7225,617.0,2022-04-14,TMIN,10.8
3033,MADRID/GETAFE,40.3000,-3.7225,617.0,2022-04-15,PRCP,0.0
3034,MADRID/GETAFE,40.3000,-3.7225,617.0,2022-04-15,TMAX,24.4
3035,MADRID/GETAFE,40.3000,-3.7225,617.0,2022-04-16,PRCP,0.0
3036,MADRID/GETAFE,40.3000,-3.7225,617.0,2022-04-16,TMAX,26.8

1
Supermarket in Madrid
Latitude for the index = (40.3923431, -3.637143)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2021-04-22,PRCP,0.0
1,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2021-04-22,TMAX,25.5
2,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2021-04-22,TMIN,15.0
3,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2021-04-23,PRCP,0.0
4,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2021-04-23,TMAX,27.1
...,...,...,...,...,...,...,...
1003,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2022-04-15,PRCP,0.0
1004,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2022-04-15,TMIN,11.5
1005,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2022-04-16,PRCP,0.0
1006,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2022-04-16,TMAX,29.5
1007,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2022-04-16,TMIN,11.9

2
Casa de Pilatos
Latitude for the index = (37.3902394, -5.987249062427177)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2021-04-22,PRCP,0.0
1,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2021-04-22,TMAX,25.5
2,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2021-04-22,TMIN,15.0
3,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2021-04-23,PRCP,0.0
4,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2021-04-23,TMAX,27.1
...,...,...,...,...,...,...,...
1003,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2022-04-15,PRCP,0.0
1004,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2022-04-15,TMIN,11.5
1005,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2022-04-16,PRCP,0.0
1006,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2022-04-16,TMAX,29.5
1007,SEVILLA/SAN PABLO,37.4167,-5.8792,34.0,2022-04-16,TMIN,11.9

3
Coffee shop in Seville
Latitude for the index = (37.3773176, -5.9818315)
Upload Successful

      station  latitude  longitude  elevation        date element  value
0    VALENCIA    39.489     -0.482       68.6  2021-04-22    PRCP   11.7
1    VALENCIA    39.489     -0.482       68.6  2021-04-22    TMAX   16.4
2    VALENCIA    39.489     -0.482       68.6  2021-04-22    TMIN   12.9
3    VALENCIA    39.489     -0.482       68.6  2021-04-23    PRCP    7.6
4    VALENCIA    39.489     -0.482       68.6  2021-04-24    PRCP    0.0
..        ...       ...        ...        ...         ...     ...    ...
681  VALENCIA    39.489     -0.482       68.6  2022-04-15    PRCP    0.0
682  VALENCIA    39.489     -0.482       68.6  2022-04-15    TMAX   25.2
683  VALENCIA    39.489     -0.482       68.6  2022-04-15    TMIN   10.8
684  VALENCIA    39.489     -0.482       68.6  2022-04-16    PRCP    0.0
685  VALENCIA    39.489     -0.482       68.6  2022-04-16    TMAX   27.7

[686 rows x 7 columns]

4
The Central Market of Valencia
Latitude for the index = (39.473624, -0.3795645)
Upload Successful

      station  latitude  longitude  elevation        date element  value
0    VALENCIA    39.489     -0.482       68.6  2021-04-22    PRCP   11.7
1    VALENCIA    39.489     -0.482       68.6  2021-04-22    TMAX   16.4
2    VALENCIA    39.489     -0.482       68.6  2021-04-22    TMIN   12.9
3    VALENCIA    39.489     -0.482       68.6  2021-04-23    PRCP    7.6
4    VALENCIA    39.489     -0.482       68.6  2021-04-24    PRCP    0.0
..        ...       ...        ...        ...         ...     ...    ...
681  VALENCIA    39.489     -0.482       68.6  2022-04-15    PRCP    0.0
682  VALENCIA    39.489     -0.482       68.6  2022-04-15    TMAX   25.2
683  VALENCIA    39.489     -0.482       68.6  2022-04-15    TMIN   10.8
684  VALENCIA    39.489     -0.482       68.6  2022-04-16    PRCP    0.0
685  VALENCIA    39.489     -0.482       68.6  2022-04-16    TMAX   27.7

[686 rows x 7 columns]

5
Small Building in Valencia
Latitude for the index = (39.4345875, -0.4721446)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,ZARAGOZA AEROPUERTO,41.6617,-1.0081,247.0,2021-04-22,PRCP,1.2
1,ZARAGOZA AEROPUERTO,41.6617,-1.0081,247.0,2021-04-22,TMAX,16.5
2,ZARAGOZA AEROPUERTO,41.6617,-1.0081,247.0,2021-04-22,TMIN,9.9
3,ZARAGOZA AEROPUERTO,41.6617,-1.0081,247.0,2021-04-23,PRCP,0.0
4,ZARAGOZA AEROPUERTO,41.6617,-1.0081,247.0,2021-04-23,TMAX,21.8
...,...,...,...,...,...,...,...
1510,ZARAGOZA,41.6667,-1.0333,263.0,2022-04-14,TMIN,11.9
1511,ZARAGOZA,41.6667,-1.0333,263.0,2022-04-15,PRCP,0.0
1512,ZARAGOZA,41.6667,-1.0333,263.0,2022-04-15,TMAX,25.2
1513,ZARAGOZA,41.6667,-1.0333,263.0,2022-04-15,TMIN,11.8
1514,ZARAGOZA,41.6667,-1.0333,263.0,2022-04-16,PRCP,0.0

6
Zaragoza Museum
Latitude for the index = (41.64818425, -0.8788358325604957)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,ZARAGOZA AEROPUERTO,41.6617,-1.0081,247.0,2021-04-22,PRCP,1.2
1,ZARAGOZA AEROPUERTO,41.6617,-1.0081,247.0,2021-04-22,TMAX,16.5
2,ZARAGOZA AEROPUERTO,41.6617,-1.0081,247.0,2021-04-22,TMIN,9.9
3,ZARAGOZA AEROPUERTO,41.6617,-1.0081,247.0,2021-04-23,PRCP,0.0
4,ZARAGOZA AEROPUERTO,41.6617,-1.0081,247.0,2021-04-23,TMAX,21.8
...,...,...,...,...,...,...,...
1510,ZARAGOZA,41.6667,-1.0333,263.0,2022-04-14,TMIN,11.9
1511,ZARAGOZA,41.6667,-1.0333,263.0,2022-04-15,PRCP,0.0
1512,ZARAGOZA,41.6667,-1.0333,263.0,2022-04-15,TMAX,25.2
1513,ZARAGOZA,41.6667,-1.0333,263.0,2022-04-15,TMIN,11.8
1514,ZARAGOZA,41.6667,-1.0333,263.0,2022-04-16,PRCP,0.0

7
Small Building in Zaragoza
Latitude for the index = (41.6302815, -0.8842428)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2021-04-22,PRCP,0.0
1,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2021-04-22,TMAX,21.9
2,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2021-04-22,TMIN,12.9
3,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2021-04-23,PRCP,0.0
4,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2021-04-23,TMAX,25.3
...,...,...,...,...,...,...,...
1022,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2022-04-14,TMAX,19.0
1023,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2022-04-15,PRCP,0.0
1024,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2022-04-15,TMAX,18.5
1025,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2022-04-16,PRCP,0.0
1026,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2022-04-16,TMAX,20.2

8
Guggenheim Museum Bilbao
Latitude for the index = (43.2686558, -2.9345649)
Upload Successful

,station,latitude,longitude,elevation,date,element,value
0,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2021-04-22,PRCP,0.0
1,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2021-04-22,TMAX,21.9
2,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2021-04-22,TMIN,12.9
3,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2021-04-23,PRCP,0.0
4,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2021-04-23,TMAX,25.3
...,...,...,...,...,...,...,...
1022,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2022-04-14,TMAX,19.0
1023,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2022-04-15,PRCP,0.0
1024,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2022-04-15,TMAX,18.5
1025,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2022-04-16,PRCP,0.0
1026,BILBAO AEROPUERTO,43.2981,-2.9056,42.0,2022-04-16,TMAX,20.2

9
Small rural house outside Bilbao
Latitude for the index = (43.209423627088945, -2.8888258267003195)
Upload Successful

# Data Visualization
We now have CSV files for each of the addresses, both domestic and international, and have the functionality to load addresses and generate new files. Once we have AWS credentials, we can upload them to a shared bucket, where others can access them. Next steps may be to create a 'unifier' of sorts for days that have multiple measurements for the same variables from different stations. But first, let's create a fun figure showing the total number of high heat days at the 10 addresses in the US.
## High Heat Example
A very simple of high heat days in the US is when temperatures reach above 90 for 2-3 days in a row, combined with high humidity (unquanitified). This is a soft definition, but we'll use it for the sake of simplicity.

In [ ]:
# WSFG = Peak gust wind speed (tenths of meters per second)
# TAVG = AVG Temp
# TMAX = Max temp for that day

# Load Addresses, call login, get data, save it to CSV
Address_Info = CSV_to_latlon('TestAddresses_100.csv','Address')
for addy in Address_Info.index[85:100]:    
    if Address_Info['geo_location'][addy] == None:
        Address_Info['geo_location'][addy]=geolocator.geocode(Address_Info['City State Zip'][addy])

In [300]:
for addy in Address_Info.index[85:100]:
    test_key = Login("superadmin","VrYAK#2Kfe") #Log in as super admin
    test_output = Get_Data(test_key,Address_Info['geo_location'].loc[addy].latitude,Address_Info['geo_location'].loc[addy].longitude, stations = 1, radius = 25, elem = ['WSFG','TMAX','TMIN','TAVG'],start_date=20100422) #Get data from first address
    output = CSV_to_DF(test_output); #Save the data as a dataframe and display the data
    Filename = str('/Users/mborrus/Benchmark/Jupyter/Output_CSVs/Heat_Test/'+ Address_Info['Name'][addy] +'.csv')
    output.to_csv(Filename, index=None)

       station  latitude  longitude  elevation        date element  value
0      BUFFALO   42.9486   -78.7369      211.2  2010-04-22    TMAX   11.7
1      BUFFALO   42.9486   -78.7369      211.2  2010-04-22    TMIN    2.8
2      BUFFALO   42.9486   -78.7369      211.2  2010-04-23    TMAX   15.0
3      BUFFALO   42.9486   -78.7369      211.2  2010-04-23    TMIN    0.6
4      BUFFALO   42.9486   -78.7369      211.2  2010-04-24    TMAX   20.6
...        ...       ...        ...        ...         ...     ...    ...
11696  BUFFALO   42.9486   -78.7369      211.2  2022-04-18    TMIN   -2.2
11697  BUFFALO   42.9486   -78.7369      211.2  2022-04-19    TMAX    3.3
11698  BUFFALO   42.9486   -78.7369      211.2  2022-04-19    TMIN    1.1
11699  BUFFALO   42.9486   -78.7369      211.2  2022-04-20    TMAX    8.9
11700  BUFFALO   42.9486   -78.7369      211.2  2022-04-20    TMIN    1.1

[11701 rows x 7 columns]

         station  latitude  longitude  elevation        date element  value
0      ALBANY AP   42.7431   -73.8092       95.1  2010-04-22    TMAX   19.4
1      ALBANY AP   42.7431   -73.8092       95.1  2010-04-22    TMIN    5.0
2      ALBANY AP   42.7431   -73.8092       95.1  2010-04-23    TMAX   17.8
3      ALBANY AP   42.7431   -73.8092       95.1  2010-04-23    TMIN    2.8
4      ALBANY AP   42.7431   -73.8092       95.1  2010-04-24    TMAX   18.9
...          ...       ...        ...        ...         ...     ...    ...
12063  ALBANY AP   42.7431   -73.8092       95.1  2022-04-18    TMIN   -2.8
12064  ALBANY AP   42.7431   -73.8092       95.1  2022-04-19    TMAX    6.1
12065  ALBANY AP   42.7431   -73.8092       95.1  2022-04-19    TMIN    0.6
12066  ALBANY AP   42.7431   -73.8092       95.1  2022-04-20    TMAX   11.1
12067  ALBANY AP   42.7431   -73.8092       95.1  2022-04-20    TMIN    0.0

[12068 rows x 7 columns]

          station  latitude  longitude  elevation        date element  value
0     LOCKPORT 4E   43.1878   -78.6092      185.9  2016-10-08    TMAX   18.3
1     LOCKPORT 4E   43.1878   -78.6092      185.9  2016-10-08    TMIN   13.3
2     LOCKPORT 4E   43.1878   -78.6092      185.9  2016-10-09    TMAX   14.4
3     LOCKPORT 4E   43.1878   -78.6092      185.9  2016-10-09    TMIN    6.7
4     LOCKPORT 4E   43.1878   -78.6092      185.9  2016-10-10    TMAX   13.3
...           ...       ...        ...        ...         ...     ...    ...
3931  LOCKPORT 4E   43.1878   -78.6092      185.9  2022-04-18    TMIN   -2.8
3932  LOCKPORT 4E   43.1878   -78.6092      185.9  2022-04-19    TMAX    3.9
3933  LOCKPORT 4E   43.1878   -78.6092      185.9  2022-04-19    TMIN    0.0
3934  LOCKPORT 4E   43.1878   -78.6092      185.9  2022-04-20    TMAX   10.0
3935  LOCKPORT 4E   43.1878   -78.6092      185.9  2022-04-20    TMIN    1.7

[3936 rows x 7 columns]

       station  latitude  longitude  elevation        date element  value
0     LOWVILLE   43.7928   -75.4828      263.0  2010-04-22    TMAX   18.3
1     LOWVILLE   43.7928   -75.4828      263.0  2010-04-22    TMIN    1.1
2     LOWVILLE   43.7928   -75.4828      263.0  2010-04-23    TMAX    8.3
3     LOWVILLE   43.7928   -75.4828      263.0  2010-04-23    TMIN   -3.9
4     LOWVILLE   43.7928   -75.4828      263.0  2010-04-24    TMAX   12.2
...        ...       ...        ...        ...         ...     ...    ...
8697  LOWVILLE   43.7928   -75.4828      263.0  2022-04-18    TMIN   -3.9
8698  LOWVILLE   43.7928   -75.4828      263.0  2022-04-19    TMAX   12.8
8699  LOWVILLE   43.7928   -75.4828      263.0  2022-04-19    TMIN   -3.3
8700  LOWVILLE   43.7928   -75.4828      263.0  2022-04-20    TMAX    3.3
8701  LOWVILLE   43.7928   -75.4828      263.0  2022-04-20    TMIN    0.0

[8702 rows x 7 columns]

     station  latitude  longitude  elevation        date element  value
0    MACEDON   43.0731   -77.3019      142.0  2021-08-07    TMAX   28.9
1    MACEDON   43.0731   -77.3019      142.0  2021-08-08    TMAX   29.4
2    MACEDON   43.0731   -77.3019      142.0  2021-08-08    TMIN   17.8
3    MACEDON   43.0731   -77.3019      142.0  2021-08-09    TMAX   29.4
4    MACEDON   43.0731   -77.3019      142.0  2021-08-09    TMIN   17.2
..       ...       ...        ...        ...         ...     ...    ...
492  MACEDON   43.0731   -77.3019      142.0  2022-04-19    TMIN   -0.6
493  MACEDON   43.0731   -77.3019      142.0  2022-04-20    TMAX    3.9
494  MACEDON   43.0731   -77.3019      142.0  2022-04-20    TMIN    1.7
495  MACEDON   43.0731   -77.3019      142.0  2022-04-21    TMAX   10.6
496  MACEDON   43.0731   -77.3019      142.0  2022-04-21    TMIN    2.2

[497 rows x 7 columns]

     station  latitude  longitude  elevation        date element  value
0     MALONE   44.8417   -74.3061      267.6  2010-04-22    TMAX   18.9
1     MALONE   44.8417   -74.3061      267.6  2010-04-22    TMIN    3.9
2     MALONE   44.8417   -74.3061      267.6  2010-04-23    TMAX    6.7
3     MALONE   44.8417   -74.3061      267.6  2010-04-23    TMIN    0.0
4     MALONE   44.8417   -74.3061      267.6  2010-04-24    TMAX   12.2
...      ...       ...        ...        ...         ...     ...    ...
8761  MALONE   44.8417   -74.3061      267.6  2022-04-19    TMIN   -2.8
8762  MALONE   44.8417   -74.3061      267.6  2022-04-20    TMAX    3.3
8763  MALONE   44.8417   -74.3061      267.6  2022-04-20    TMIN   -0.6
8764  MALONE   44.8417   -74.3061      267.6  2022-04-21    TMAX    8.9
8765  MALONE   44.8417   -74.3061      267.6  2022-04-21    TMIN   -0.6

[8766 rows x 7 columns]

,station,latitude,longitude,elevation,date,element,value
0,FARMINGDALE AP,40.7342,-73.4169,24.7,2010-04-22,TMAX,18.9
1,FARMINGDALE AP,40.7342,-73.4169,24.7,2010-04-22,TMIN,9.4
2,FARMINGDALE AP,40.7342,-73.4169,24.7,2010-04-23,TMAX,19.4
3,FARMINGDALE AP,40.7342,-73.4169,24.7,2010-04-23,TMIN,6.1
4,FARMINGDALE AP,40.7342,-73.4169,24.7,2010-04-24,TMAX,17.8
...,...,...,...,...,...,...,...
8701,FARMINGDALE AP,40.7342,-73.4169,24.7,2022-04-14,TMIN,12.2
8702,FARMINGDALE AP,40.7342,-73.4169,24.7,2022-04-15,TMAX,19.4
8703,FARMINGDALE AP,40.7342,-73.4169,24.7,2022-04-15,TMIN,7.8
8704,FARMINGDALE AP,40.7342,-73.4169,24.7,2022-04-16,TMAX,17.2
8705,FARMINGDALE AP,40.7342,-73.4169,24.7,2022-04-16,TMIN,7.2

,station,latitude,longitude,elevation,date,element,value
0,MASSENA INTL AP,44.9358,-74.8458,65.2,2010-04-22,TMAX,10.0
1,MASSENA INTL AP,44.9358,-74.8458,65.2,2010-04-22,TMIN,2.2
2,MASSENA INTL AP,44.9358,-74.8458,65.2,2010-04-23,TMAX,14.4
3,MASSENA INTL AP,44.9358,-74.8458,65.2,2010-04-23,TMIN,-2.2
4,MASSENA INTL AP,44.9358,-74.8458,65.2,2010-04-24,TMAX,20.0
...,...,...,...,...,...,...,...
8730,MASSENA INTL AP,44.9358,-74.8458,65.2,2022-04-19,TMIN,0.6
8731,MASSENA INTL AP,44.9358,-74.8458,65.2,2022-04-20,TMAX,8.9
8732,MASSENA INTL AP,44.9358,-74.8458,65.2,2022-04-20,TMIN,-0.6
8733,MASSENA INTL AP,44.9358,-74.8458,65.2,2022-04-21,TMAX,15.6
8734,MASSENA INTL AP,44.9358,-74.8458,65.2,2022-04-21,TMIN,-1.1

,station,latitude,longitude,elevation,date,element,value
0,UPTON COOP - NWSFO NEW YORK,40.8656,-72.8642,24.4,2012-03-05,TMAX,6.7
1,UPTON COOP - NWSFO NEW YORK,40.8656,-72.8642,24.4,2012-03-05,TMIN,-2.2
2,UPTON COOP - NWSFO NEW YORK,40.8656,-72.8642,24.4,2012-03-06,TMAX,5.0
3,UPTON COOP - NWSFO NEW YORK,40.8656,-72.8642,24.4,2012-03-06,TMIN,-5.6
4,UPTON COOP - NWSFO NEW YORK,40.8656,-72.8642,24.4,2012-03-07,TMAX,5.0
...,...,...,...,...,...,...,...
7375,UPTON COOP - NWSFO NEW YORK,40.8656,-72.8642,24.4,2022-04-19,TMIN,5.0
7376,UPTON COOP - NWSFO NEW YORK,40.8656,-72.8642,24.4,2022-04-20,TMAX,9.4
7377,UPTON COOP - NWSFO NEW YORK,40.8656,-72.8642,24.4,2022-04-20,TMIN,2.2
7378,UPTON COOP - NWSFO NEW YORK,40.8656,-72.8642,24.4,2022-04-21,TMAX,13.3
7379,UPTON COOP - NWSFO NEW YORK,40.8656,-72.8642,24.4,2022-04-21,TMIN,-1.7

,station,latitude,longitude,elevation,date,element,value
0,MIDDLETOWN 2 NW,41.4603,-74.4489,213.4,2010-04-22,TMAX,7.2
1,MIDDLETOWN 2 NW,41.4603,-74.4489,213.4,2010-04-22,TMIN,-2.8
2,MIDDLETOWN 2 NW,41.4603,-74.4489,213.4,2010-04-23,TMAX,12.8
3,MIDDLETOWN 2 NW,41.4603,-74.4489,213.4,2010-04-23,TMIN,-2.8
4,MIDDLETOWN 2 NW,41.4603,-74.4489,213.4,2010-04-24,TMAX,18.3
...,...,...,...,...,...,...,...
747,MIDDLETOWN 2 NW,41.4603,-74.4489,213.4,2011-11-28,TMIN,5.0
748,MIDDLETOWN 2 NW,41.4603,-74.4489,213.4,2011-11-29,TMAX,16.7
749,MIDDLETOWN 2 NW,41.4603,-74.4489,213.4,2011-11-29,TMIN,7.8
750,MIDDLETOWN 2 NW,41.4603,-74.4489,213.4,2011-11-30,TMAX,16.1
751,MIDDLETOWN 2 NW,41.4603,-74.4489,213.4,2011-11-30,TMIN,5.6

        station  latitude  longitude  elevation        date element  value
0     SHRUB OAK   41.3325   -73.8369      140.8  2017-03-01    TMAX   17.2
1     SHRUB OAK   41.3325   -73.8369      140.8  2017-03-01    TMIN    2.8
2     SHRUB OAK   41.3325   -73.8369      140.8  2017-03-02    TMAX   16.7
3     SHRUB OAK   41.3325   -73.8369      140.8  2017-03-02    TMIN    7.2
4     SHRUB OAK   41.3325   -73.8369      140.8  2017-03-03    TMAX    7.8
...         ...       ...        ...        ...         ...     ...    ...
3655  SHRUB OAK   41.3325   -73.8369      140.8  2022-04-19    TMIN   -2.2
3656  SHRUB OAK   41.3325   -73.8369      140.8  2022-04-20    TMAX    8.9
3657  SHRUB OAK   41.3325   -73.8369      140.8  2022-04-20    TMIN    1.7
3658  SHRUB OAK   41.3325   -73.8369      140.8  2022-04-21    TMAX   14.4
3659  SHRUB OAK   41.3325   -73.8369      140.8  2022-04-21    TMIN    0.6

[3660 rows x 7 columns]

         station  latitude  longitude  elevation        date element  value
0     WEST POINT   41.3906   -73.9608       97.5  2010-04-22    TMAX   20.6
1     WEST POINT   41.3906   -73.9608       97.5  2010-04-22    TMIN    6.7
2     WEST POINT   41.3906   -73.9608       97.5  2010-04-23    TMAX   22.2
3     WEST POINT   41.3906   -73.9608       97.5  2010-04-23    TMIN    5.6
4     WEST POINT   41.3906   -73.9608       97.5  2010-04-24    TMAX   19.4
...          ...       ...        ...        ...         ...     ...    ...
5428  WEST POINT   41.3906   -73.9608       97.5  2019-10-29    TMIN   10.6
5429  WEST POINT   41.3906   -73.9608       97.5  2019-10-30    TMAX   14.4
5430  WEST POINT   41.3906   -73.9608       97.5  2019-10-30    TMIN   12.2
5431  WEST POINT   41.3906   -73.9608       97.5  2019-10-31    TMAX   17.2
5432  WEST POINT   41.3906   -73.9608       97.5  2019-10-31    TMIN    6.7

[5433 rows x 7 columns]

,station,latitude,longitude,elevation,date,element,value
0,ROCK HILL 3 SW,41.5917,-74.6142,387.1,2010-04-22,TMAX,17.8
1,ROCK HILL 3 SW,41.5917,-74.6142,387.1,2010-04-22,TMIN,1.7
2,ROCK HILL 3 SW,41.5917,-74.6142,387.1,2010-04-23,TMAX,18.3
3,ROCK HILL 3 SW,41.5917,-74.6142,387.1,2010-04-23,TMIN,-8.9
4,ROCK HILL 3 SW,41.5917,-74.6142,387.1,2010-04-24,TMAX,16.1
...,...,...,...,...,...,...,...
6893,ROCK HILL 3 SW,41.5917,-74.6142,387.1,2022-04-19,TMIN,-2.8
6894,ROCK HILL 3 SW,41.5917,-74.6142,387.1,2022-04-20,TMAX,5.0
6895,ROCK HILL 3 SW,41.5917,-74.6142,387.1,2022-04-20,TMIN,-5.0
6896,ROCK HILL 3 SW,41.5917,-74.6142,387.1,2022-04-21,TMAX,10.6
6897,ROCK HILL 3 SW,41.5917,-74.6142,387.1,2022-04-21,TMIN,-1.7

,station,latitude,longitude,elevation,date,element,value
0,ROME GRIFFISS AIRFIELD,43.2339,-75.4117,158.2,2010-04-22,TMAX,11.1
1,ROME GRIFFISS AIRFIELD,43.2339,-75.4117,158.2,2010-04-22,TMIN,1.1
2,ROME GRIFFISS AIRFIELD,43.2339,-75.4117,158.2,2010-04-23,TMAX,14.4
3,ROME GRIFFISS AIRFIELD,43.2339,-75.4117,158.2,2010-04-23,TMIN,-2.1
4,ROME GRIFFISS AIRFIELD,43.2339,-75.4117,158.2,2010-04-24,TMAX,19.4
...,...,...,...,...,...,...,...
8737,ROME GRIFFISS AIRFIELD,43.2339,-75.4117,158.2,2022-04-14,TMIN,2.8
8738,ROME GRIFFISS AIRFIELD,43.2339,-75.4117,158.2,2022-04-15,TMAX,16.7
8739,ROME GRIFFISS AIRFIELD,43.2339,-75.4117,158.2,2022-04-15,TMIN,0.6
8740,ROME GRIFFISS AIRFIELD,43.2339,-75.4117,158.2,2022-04-16,TMAX,10.0
8741,ROME GRIFFISS AIRFIELD,43.2339,-75.4117,158.2,2022-04-16,TMIN,2.8

           station  latitude  longitude  elevation        date element  value
0     WALDEN 1 ESE   41.5514   -74.1628      115.8  2010-04-22    TMAX   20.0
1     WALDEN 1 ESE   41.5514   -74.1628      115.8  2010-04-22    TMIN    5.6
2     WALDEN 1 ESE   41.5514   -74.1628      115.8  2010-04-23    TMAX   20.6
3     WALDEN 1 ESE   41.5514   -74.1628      115.8  2010-04-23    TMIN   -1.1
4     WALDEN 1 ESE   41.5514   -74.1628      115.8  2010-04-24    TMAX   20.0
...            ...       ...        ...        ...         ...     ...    ...
1867  WALDEN 1 ESE   41.5514   -74.1628      115.8  2014-05-13    TMIN   13.3
1868  WALDEN 1 ESE   41.5514   -74.1628      115.8  2014-05-14    TMAX   21.7
1869  WALDEN 1 ESE   41.5514   -74.1628      115.8  2014-05-14    TMIN    9.4
1870  WALDEN 1 ESE   41.5514   -74.1628      115.8  2014-05-15    TMAX   23.9
1871  WALDEN 1 ESE   41.5514   -74.1628      115.8  2014-05-15    TMIN   11.1

[1872 rows x 7 columns]

In [299]:
Address_Info

,Address,Name,City State Zip,Unnamed: 3,Unnamed: 4,geo_location
0,"777 Brockton Avenue, Abington MA 02351",777 Brockton Avenue,Abington MA 02351,NaN,NaN,"(Walmart, 777, Brockton Avenue, West Abington,..."
1,"30 Memorial Drive, Avon MA 02322",30 Memorial Drive,Avon MA 02322,NaN,NaN,"(Walmart Supercenter, 30, Memorial Drive, Avon..."
2,"250 Hartford Avenue, Bellingham MA 02019",250 Hartford Avenue,Bellingham MA 02019,NaN,NaN,"(250;254;258;270;274;284, Hartford Avenue, Nor..."
3,"700 Oak Street, Brockton MA 02301",700 Oak Street,Brockton MA 02301,NaN,NaN,"(Walmart, 700, Oak Street, Brockton, Plymouth ..."
4,"66-4 Parkhurst Rd, Chelmsford MA 01824",66-4 Parkhurst Rd,Chelmsford MA 01824,NaN,NaN,"(Parkhurst Road, Chelmsford, Middlesex County,..."
...,...,...,...,...,...,...
95,"3133 E Main St, Mohegan Lake NY 10547",3133 E Main St,Mohegan Lake NY 10547,NaN,NaN,"(Walmart, 3133, Main Street, Roe Park, Cortlan..."
96,"288 Larkin, Monroe NY 10950",288 Larkin,Monroe NY 10950,NaN,NaN,"(288, Larkin Drive, Woodbury, Town of Monroe, ..."
97,"41 Anawana Lake Road, Monticello NY 12701",41 Anawana Lake Road,Monticello NY 12701,NaN,NaN,"(Monticello, Town of Thompson, Sullivan County..."
98,"4765 Commercial Drive, New Hartford NY 13413",4765 Commercial Drive,New Hartford NY 13413,NaN,NaN,"(Walmart Supercenter, 4765, Commercial Drive, ..."
99,"1201 Rt 300, Newburgh NY 12550",1201 Rt 300,Newburgh NY 12550,NaN,NaN,"(Route 300, Town of Newburgh, Orange County, N..."

In [301]:
def Generate_Heat_df(data):
    x=pd.to_datetime(data[data["element"]=='TMAX']['date'])
    y=data[data["element"]=='TMAX']['value']
    days_above_90 = x[y>32.33];
    distance_between_days = days_above_90.diff()
    high_heat_consec = pd.DataFrame(columns = ['Date', 'TMAX'])
    persistance = pd.DataFrame(columns = ['Persistance'])
    for ind in distance_between_days.index:
        dif_days = distance_between_days[ind].days
        if dif_days == 1:    
            high_heat_consec = high_heat_consec.append({'Date':x[ind],'TMAX':y[ind]},True) 

            idx = len(high_heat_consec)-1;
            presist_diff = high_heat_consec['Date'][idx] - high_heat_consec['Date'];
            i = 0
            while presist_diff[idx] + timedelta(days=i) in presist_diff.values:
                i+=1;
            persistance = persistance.append({'Persistance':i},ignore_index=True)

    Heat_Data = pd.concat([high_heat_consec,persistance],axis=1)
    return(Heat_Data)

In [307]:
Heat_Data = pd.DataFrame(columns = ['One Day','Two+ Day'])
for addy in Address_Info.index:
#    addy = 2
    Filename = str('/Users/mborrus/Benchmark/Jupyter/Output_CSVs/Heat_Test/'+ Address_Info['Name'][addy] +'.csv')
    data = pd.read_csv(Filename)
    Heat_Data_temp = Generate_Heat_df(data)
    one_day_count = len(Heat_Data_temp[Heat_Data_temp["Persistance"]>=1]);
    two_day_count = len(Heat_Data_temp[Heat_Data_temp["Persistance"]>=2]);
    Heat_Data = Heat_Data.append({'One Day':one_day_count,'Two+ Day':two_day_count},True)
    print(Address_Info['Name'][addy],', One day heat warning:',  one_day_count,'; >Two day heat warning:', two_day_count)

777 Brockton Avenue , One day heat warning: 105 ; >Two day heat warning: 62
30 Memorial Drive , One day heat warning: 105 ; >Two day heat warning: 62
250 Hartford Avenue , One day heat warning: 70 ; >Two day heat warning: 37
700 Oak Street , One day heat warning: 105 ; >Two day heat warning: 62
66-4 Parkhurst Rd , One day heat warning: 109 ; >Two day heat warning: 59
591 Memorial Dr , One day heat warning: 109 ; >Two day heat warning: 61
55 Brooksby Village Way , One day heat warning: 42 ; >Two day heat warning: 16
137 Teaticket Hwy , One day heat warning: 0 ; >Two day heat warning: 0
42 Fairhaven Commons Way , One day heat warning: 32 ; >Two day heat warning: 11
374 William S Canning Blvd , One day heat warning: 78 ; >Two day heat warning: 45
121 Worcester Rd , One day heat warning: 14 ; >Two day heat warning: 7
677 Timpany Blvd , One day heat warning: 12 ; >Two day heat warning: 3
337 Russell St , One day heat warning: 51 ; >Two day heat warning: 22
295 Plymouth Street , One day heat warning: 41 ; >Two day heat warning: 19
1775 Washington St , One day heat warning: 82 ; >Two day heat warning: 38
280 Washington Street , One day heat warning: 78 ; >Two day heat warning: 44
20 Soojian Dr , One day heat warning: 8 ; >Two day heat warning: 2
11 Jungle Road , One day heat warning: 95 ; >Two day heat warning: 53
301 Massachusetts Ave , One day heat warning: 95 ; >Two day heat warning: 53
780 Lynnway , One day heat warning: 78 ; >Two day heat warning: 39
70 Pleasant Valley Street , One day heat warning: 56 ; >Two day heat warning: 26
830 Curran Memorial Hwy , One day heat warning: 13 ; >Two day heat warning: 4
1470 S Washington St , One day heat warning: 70 ; >Two day heat warning: 37
506 State Road , One day heat warning: 32 ; >Two day heat warning: 11
742 Main Street , One day heat warning: 31 ; >Two day heat warning: 11
72 Main St , One day heat warning: 46 ; >Two day heat warning: 22
200 Otis Street , One day heat warning: 8 ; >Two day heat warning: 2
180 North King Street , One day heat warning: 4 ; >Two day heat warning: 3
555 East Main St , One day heat warning: 56 ; >Two day heat warning: 24
555 Hubbard Ave-Suite 12 , One day heat warning: 2 ; >Two day heat warning: 0
300 Colony Place , One day heat warning: 19 ; >Two day heat warning: 6
301 Falls Blvd , One day heat warning: 82 ; >Two day heat warning: 38
36 Paramount Drive , One day heat warning: 74 ; >Two day heat warning: 39
450 Highland Ave , One day heat warning: 22 ; >Two day heat warning: 5
1180 Fall River Avenue , One day heat warning: 47 ; >Two day heat warning: 20
1105 Boston Road , One day heat warning: 2 ; >Two day heat warning: 0
100 Charlton Road , One day heat warning: 20 ; >Two day heat warning: 6
262 Swansea Mall Dr , One day heat warning: 78 ; >Two day heat warning: 45
333 Main Street , One day heat warning: 109 ; >Two day heat warning: 59
550 Providence Hwy , One day heat warning: 71 ; >Two day heat warning: 36
352 Palmer Road , One day heat warning: 33 ; >Two day heat warning: 12
3005 Cranberry Hwy Rt 6 28 , One day heat warning: 10 ; >Two day heat warning: 5
250 Rt 59 , One day heat warning: 5 ; >Two day heat warning: 1
141 Washington Ave Extension , One day heat warning: 45 ; >Two day heat warning: 21
13858 Rt 31 W , One day heat warning: 35 ; >Two day heat warning: 18
2055 Niagara Falls Blvd , One day heat warning: 40 ; >Two day heat warning: 20
101 Sanford Farm Shpg Center , One day heat warning: 0 ; >Two day heat warning: 0
297 Grant Avenue , One day heat warning: 20 ; >Two day heat warning: 7
4133 Veterans Memorial Drive , One day heat warning: 26 ; >Two day heat warning: 9
6265 Brockport Spencerport Rd , One day heat warning: 7 ; >Two day heat warning: 3
5399 W Genesse St , One day heat warning: 24 ; >Two day heat warning: 10
3191 County rd 10 , One day heat warning: 22 ; >Two day heat warning: 10
30 Catskill , One day heat warning: 37 ; >Two day heat warning: 20
161 Centereach Mall , One day heat warning: 24 ; >Two day heat warning: 8
3018 East Ave , One day heat warning: 15 ; >Two day heat warning: 5
100 Thruway Plaza , One day heat warning: 6 ; >Two day heat warning: 4
8064 Brewerton Rd , One day heat warning: 44 ; >Two day heat warning: 17
5033 Transit Road , One day heat warning: 6 ; >Two day heat warning: 4
3949 Route 31 , One day heat warning: 15 ; >Two day heat warning: 5
139 Merchant Place , One day heat warning: 7 ; >Two day heat warning: 4
85 Crooked Hill Road , One day heat warning: 64 ; >Two day heat warning: 29
872 Route 13 , One day heat warning: 3 ; >Two day heat warning: 1
279 Troy Road , One day heat warning: 43 ; >Two day heat warning: 18
2465 Hempstead Turnpike , One day heat warning: 31 ; >Two day heat warning: 16
6438 Basile Rowe , One day heat warning: 44 ; >Two day heat warning: 17
25737 US Rt 11 , One day heat warning: 7 ; >Two day heat warning: 2
901 Route 110 , One day heat warning: 40 ; >Two day heat warning: 18
2400 Route 9 , One day heat warning: 102 ; >Two day heat warning: 50
10401 Bennett Road , One day heat warning: 3 ; >Two day heat warning: 1
1818 State Route 3 , One day heat warning: 7 ; >Two day heat warning: 4
4300 Lakeville Road , One day heat warning: 19 ; >Two day heat warning: 8
990 Route 5 20 , One day heat warning: 9 ; >Two day heat warning: 5
311 RT 9W , One day heat warning: 45 ; >Two day heat warning: 21
200 Dutch Meadows Ln , One day heat warning: 45 ; >Two day heat warning: 21
100 Elm Ridge Center Dr , One day heat warning: 34 ; >Two day heat warning: 15
1549 Rt 9 , One day heat warning: 0 ; >Two day heat warning: 0
5360 Southwestern Blvd , One day heat warning: 5 ; >Two day heat warning: 2
103 North Caroline St , One day heat warning: 3 ; >Two day heat warning: 1
1000 State Route 36 , One day heat warning: 12 ; >Two day heat warning: 6
1400 County Rd 64 , One day heat warning: 54 ; >Two day heat warning: 22
135 Fairgrounds Memorial Pkwy , One day heat warning: 12 ; >Two day heat warning: 5
2 Gannett Dr , One day heat warning: 2 ; >Two day heat warning: 1
233 5th Ave Ext , One day heat warning: 0 ; >Two day heat warning: 0
601 Frank Stottile Blvd , One day heat warning: 29 ; >Two day heat warning: 11
350 E Fairmount Ave , One day heat warning: 12 ; >Two day heat warning: 5
4975 Transit Rd , One day heat warning: 6 ; >Two day heat warning: 4
579 Troy-Schenectady Road , One day heat warning: 45 ; >Two day heat warning: 21
5783 So Transit Road , One day heat warning: 5 ; >Two day heat warning: 2
7155 State Rt 12 S , One day heat warning: 2 ; >Two day heat warning: 0
425 Route 31 , One day heat warning: 0 ; >Two day heat warning: 0
3222 State Rt 11 , One day heat warning: 3 ; >Two day heat warning: 0
200 Sunrise Mall , One day heat warning: 40 ; >Two day heat warning: 18
43 Stephenville St , One day heat warning: 15 ; >Two day heat warning: 4
750 Middle Country Road , One day heat warning: 14 ; >Two day heat warning: 5
470 Route 211 East , One day heat warning: 0 ; >Two day heat warning: 0
3133 E Main St , One day heat warning: 26 ; >Two day heat warning: 8
288 Larkin , One day heat warning: 71 ; >Two day heat warning: 36
41 Anawana Lake Road , One day heat warning: 5 ; >Two day heat warning: 3
4765 Commercial Drive , One day heat warning: 14 ; >Two day heat warning: 5
1201 Rt 300 , One day heat warning: 6 ; >Two day heat warning: 2

In [308]:
Heat_Data

   One Day Two+ Day
0      105       62
1      105       62
2       70       37
3      105       62
4      109       59
..     ...      ...
95      26        8
96      71       36
97       5        3
98      14        5
99       6        2

[100 rows x 2 columns]

In [316]:
import geoplot as gplt
import geopandas as gpd
import geoplot.crs as gcrs
import imageio
import pandas as pd
import pathlib
import matplotlib.pyplot as plt
import mapclassify as mc
import numpy as np

ModuleNotFoundError: No module named 'geoplot'